/* Estilizando a tabela */
table {
    width: 100%;  /* Tabela ocupa toda a largura disponível */
    border-spacing: 10px; /* Aumenta o espaçamento entre as colunas */
}

table td, table th {
    padding: 15px; /* Aumenta o espaçamento dentro das células */
    text-align: center;
}

/* Estilo para o formulário */
form input, form select, form textarea {
    margin-bottom: 20px; /* Aumenta o espaçamento entre os campos do formulário */
    padding: 10px; /* Aumenta o preenchimento dentro dos campos */
}

/* Título */
h1 {
    margin-bottom: 30px; /* Aumenta o espaçamento abaixo do título */
}
table, th, td {
    border: 1px solid black; /* Aplica borda em todas as células e a tabela */
    border-collapse: collapse; /* Para as bordas não ficarem duplicadas entre células */
}
table tr {
    border-bottom: 2px solid black; /* Aplica borda abaixo de cada linha */
}
.form-container {
    max-width: 800px;
    margin: 50px auto; /* Centraliza o formulário e adiciona margem superior */
    padding: 20px;
    border: 1px solid #ddd; /* Adiciona uma borda ao redor do formulário */
    border-radius: 10px; /* Bordas arredondadas */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Adiciona sombra ao redor do formulário */
}
.form-control {
    font-size: 16px; /* Tamanho do texto dos campos de entrada */
}
label {
    font-size: 18px; /* Tamanho do texto das labels */
}